.teammate {
  display: flex;
  box-sizing:border-box;
  flex-direction: row;
  align-items: center;
  min-width: 400px;
  padding: 0;
  margin: 8px 0;
}

.teammate-about {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.teammate-caption {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 22px;
  margin-left: 48px;
  font-weight: normal;
}

.teammate-text {
  display: block;
  font-size: 24px;
  max-height: 110px;
  margin: 0 0 0 48px ;
  overflow: hidden;
}

.teammate-link {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
  background-image: url('./GitHub-Mark-32px.png');
}

.teammate-link:hover {
  background-color: #D1D1D1;
}

.teammate-photo {
  position: relative;
  align-self: center;
  min-width: 200px;
  min-height: 200px;
}

.teammate_architect-name {
  color: var(--font-color-white-headings);
}
.teammate_architect-text {
  color: var(--font-color-white-text);
  color: var(--font-color-white-gray);
}

.architect-link:hover {
  cursor: pointer;
}