.main-page {
  height: calc(100vh - var( --header-height));

  display: flex;

  justify-content: center;
  align-items: center;
}

.main-page__content {
  display: flex;
  flex-direction: row;
}

.main-page__text {
  color: var(--font-color-white-text);
  border-right: 2px solid var(--font-color-white-headings);
  padding-right: 10px;
  font-size: var(--font-medium);
}